body {
	font-family: 'Helvetica',Arial,sans-serif;
	text-align: center;
	margin-left: 20%;
	margin-right: 20%;
}

h1 {
	color: #0033CC;
}

h2 {
	margin-top: 0px;
	font-size: 12px;
	text-align: left;
	line-height: 7px;
}

p{
	text-align: left;
}