html {
	background-color: #EDEDED;
	min-width: 992px;
	height: 100%;
	overflow: scroll;
}

body {
	background-color: #FFFFFF;
	font-family: 'Roboto', sans-serif;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	width: 992px;
	min-height: 550px;
	height: 100%;
	box-shadow: 0 0 15px #707070;
}

h1 {
	position: relative;
	top: 100px;
	margin: 0;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
	width: auto;
}

#nav {
	position: relative;
	top: 275px;
	width: 435px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	list-style: none;
	z-index: 3;
}

#nav li {
	float: left;
}

#nav li a {
	padding: .5em 1em;
	text-decoration: none;
	font-weight: 300;
	border-left: 1px solid #ccc;
}

#nav li a:hover {
	background-color: #B5DAFF;
}

#nav li a:link, a:visited {
	color: black;
	text-decoration: none;
}

#end {
	border-right: 1px solid #ccc;
}