body {
	font-family: 'Helvetica',Arial,sans-serif;
/*	margin-top: 36px;*/
	margin-left: 15%;
	margin-right: 15%;
	border: black;
	border-width: 3px;
	border-style: solid;
	padding-left: 36px;
	padding-right: 36px;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

h1 {
	text-align: center;
	font-size: 250%;
	color: #0033CC;
}

h2 {
	margin-top: 0px;
	margin-bottom: .25em;
	text-decoration: underline;
	color: #0033CC;
}

h3, p, ul, li {
	margin-top: 0px;
	margin-bottom: .5em;
	margin-left: 16px;
}

p {
	font-style: italic;
}

.section {
	padding-top: 0px;
	padding-bottom: 36px;
}

.joblist {
	padding-bottom: .5em;
}